@charset "UTF-8";

@media screen and (min-width: 550px) {
    i#burguer {
        display: none;
    }
}

header, header > nav {
    flex-flow: column nowrap;
}

header > h1 {
    flex-basis: 50px;
}

header > nav > a {
    width: 90vw;
}

i#burguer {
    background-color:black;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover {
    background-color: white;
    color: black;
}

